@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@200&display=swap');
.background {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 300px;
    width: auto;
    z-index: -9999;
}
.name-header {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-decoration: none;
    color: black;
    padding-left: 15px;
}
.no-link {
    text-decoration: none;
    color: black;
}
.icon {
    font-size: 15px;
    color: white;
}
ul .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
li .nav-item {
    float: left;
}
li a .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a .nav-link:hover {
    background-color: #113301;
}
.active {
    background-color: #206402;
}
.main-content {
    padding: 40px 40px 40px 40px;
    background-color: white;
    width: 85%;
    box-shadow: 5px 5px 8px 10px #888888;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

p {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
h3 {
    font-family: 'Oswald', sans-serif;
}
h4 {
    font-family: 'Oswald', sans-serif;
}
p{
    color: darkslategrey;
}
.button {
    background-color: #113301; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #206402;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
